<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.survirun">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Survirun">
        <activity android:name=".Activity.UserGoalModifyActivity"></activity>
        <activity android:name=".Activity.UserGoalActivity" />
        <activity android:name=".Activity.MapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBcD4zxjZ4BRHDN4xgOhAdG21TQPEtCRG0" />

        <activity android:name=".Activity.SingUpProfile" />
        <activity android:name=".Activity.SingUpNameActivity" />
        <activity android:name=".Activity.SingUpActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>