<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.survirun" >

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Survirun" >
        <activity
            android:name=".SplashActivity2"
            android:exported="false" />
        <activity
            android:name=".NavHeader"
            android:exported="false" />
        <activity
            android:name=".activity.account.ProgressDialog"
            android:exported="true" />
        <activity
            android:name=".Fragmnet.Friend.FriendInformationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.user.UserPageActivity"
            android:exported="true" />
        <activity
            android:name=".activity.exercise.ExerciseStoryActivity"
            android:exported="true" />
        <activity
            android:name=".activity.exercise.ExerciseResultActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ExplanationActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.ExercisePreparationActivity"
            android:exported="true" />
        <activity android:name=".activity.account.ResultActivity" />
        <activity android:name=".activity.user.UserGoalModifyActivity" />
        <activity android:name=".activity.user.UserGoalActivity" />
        <activity android:name=".activity.exercise.MapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBcD4zxjZ4BRHDN4xgOhAdG21TQPEtCRG0" />

        <activity
            android:name=".activity.account.SignUpProfileActivity"
            android:exported="true" />
        <activity android:name=".activity.account.SignUpNameActivity" />
        <activity android:name=".activity.account.SignUpActivity" />
        <activity android:name=".activity.account.SignInActivity" />
        <activity android:name=".activity.account.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>